<% layout("/layouts/boilerplate") %>

<div class="row">
  <div class="col-8 offset-2">
    <h2>SignUp</h2>
    <form action="/signup" method="POST" class="needs-validation" novalidate>
      <label for="username" class="form-label">Enter username</label>
      <input
        name="username"
        id="username"
        type="text"
        class="form-control"
        required
      />
      <br />
      <label for="email" class="form-label">Enter Email</label>
      <input
        name="email"
        id="email"
        type="email"
        class="form-control"
        required
      />
      <br />
      <label for="password" class="form-label">Enter Password</label>
      <input
        name="password"
        id="password"
        type="password"
        class="form-control"
        required
      />
      <br />
      <button type="submit" class="btn btn-success">SignUp</button>
    </form>
  </div>
</div>
